* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.NavBar-Component {
  position: sticky;
  top: 0;
  z-index: 999;
}
.secNavBar-Component {
  position: sticky;
  top: 76px;
  z-index: 999;
}

.cart-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* .card-body {
  border-top: 2px solid #c9c3c3;
} */
.action {
  cursor: pointer;
}

.action:hover {
  color: blue;
  text-decoration: underline;
}
.custom-btn {
  color: #fff !important;
  background-color: #6c757d !important;

  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.custom-btn:hover {
  color: #fff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.heading {
  position: relative;
  text-decoration: none;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.85);
}

.heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: width 0.3s ease;
}

.heading:hover::after,
.heading.active::after {
  width: 100%;
  background-color: #18b5fc;
}

.heading:hover {
  color: #18b5fc;
}
.pagination button.active {
  border-color: #06affd;
  background: #00b7ff;
  color: #ffffff;
}
.link-style {
  text-decoration: none;
}

.link-style:hover {
  color: rgb(255, 102, 0);
  text-decoration: underline;
}
.nav-tabs .nav-link.active {
  background-color: rgb(32, 96, 233);
  color: white;
}
.nav-link {
  color: black;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropstart .dropdown-toggle::before {
  display: none;
}

a {
  text-decoration: none;
}

.heart-rounded {
  background-color: #f3f3f3;
  padding: 5px 8px 6px 8px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.custom-enlarged-image-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.zoom-image {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.image-container {
  overflow: hidden;
}

.image-section {
  transition: transform 0.3s ease;
}

.image-container:hover .image-section {
  transform: scale(1.1);
}
.subTotal-card {
  position: sticky;
  top: 145px;
}

.productCart-card {
  height: 70vh;
  overflow: auto;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  z-index: 10 !important;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px; /* Adjust this value as needed */
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
