* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cart-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.card-body {
  border-top: 2px solid #c9c3c3; 
}
.action {
  cursor: pointer; 
}

.action:hover {
  color: blue; 
  text-decoration: underline; 
}
.custom-btn {
  color: #fff !important;
  background-color: #6c757d !important; 
 

  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.custom-btn:hover {
  color: #fff !important; 
  background-color: #dc3545 !important;
  border-color: #dc3545 !important; 
}

.heading {
  position: relative;
  text-decoration: none;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.85);
}

.heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: transparent; 
  transition: width 0.3s ease; 
}

.heading:hover::after,
.heading.active::after {
  width: 100%; 
  background-color: #18b5fc; 
}

.heading:hover {
  color: #18b5fc; 
}
.pagination button.active {
  border-color: #06affd;
  background: #00b7ff;
  color: #ffffff;
}
.link-style{
  text-decoration: none;
}

.link-style:hover{
  color: rgb(255, 102, 0);
  text-decoration:underline;
}